
@import "../../scss/sass-variables";
@import "../../scss/mixins";

.selected-proj {
    padding-top: 40rem;
    padding-bottom: 60rem;

    & > .h3 {
        padding-bottom: 4rem;

    }

    &__project {

        @include mq($bp-uppermedium) {
            display: flex;
            align-items: flex-end;
            gap: 4rem;
            margin-bottom: 8rem;
        }

        

        &__title {
            margin-bottom: 1.2rem;

            @include mq($bp-uppermedium) {
                margin-bottom: 0;
            }
        }

        &__specs {
            display: flex;
            gap: 4rem;
            margin-bottom: 4rem;

            @include mq($bp-uppermedium) {
                margin-bottom: 0;
            }
        }


    }

   
}