@import "./sass-variables";
@import "./mixins";

.home-hero {

    &__links {
        display: flex;
        gap: 3.2rem;
    }
}

.home-contact {

    @include mq($bp-uppermedium) {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
    }
}

.home-copyright {
    display: flex;
    justify-content: flex-end;
    align-items: self-end;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: clamp(6.6rem, 3.53vw + 5.22rem, 12rem);
    padding-top: clamp(6.6rem, 3.53vw + 5.22rem, 12rem);
}

.info {

    &__contact {

        @include mq($bp-uppermedium) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 8rem;
        }
    }

    &__bio {
        padding-top: clamp(8rem, 5.23vw + 5.96rem, 16rem);

        @include mq($bp-uppermedium) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8rem;
            padding-bottom: 12rem;
        }
        &__textblock {
            display: flex;
            flex-direction: column;
            gap: 8rem;
        }

        &__imgblock {
            padding-bottom: 12rem;

            @include mq($bp-uppermedium) {
                padding-bottom: 0;
            }
        }
    }
}

.portfolio {
    min-height: calc(100vh - 4.2rem);
    padding-top: 10rem;

    &--flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @include mq($bp-medium) {
            flex-direction: row;
        }
    } 

    &__title {
        padding-top: 10rem;
    }

    &__content {
        padding-top: 6rem;
    
}
}