.vertical-padding {
    padding-left: $vertical-padding;
    padding-right: $vertical-padding;
}

.topbar-inner-margin-top {
    margin-top: 20rem;

    @include mq($bp-medium) {
        margin-top: 0;
    }
}

.topbar-offset-padding {
    padding-top: 7rem;
}

.home-hero {
    padding-top: 7.2rem;

    &__links {
        padding-top: clamp(2.8rem, 1.83vw + 2.09rem, 5.6rem);
    }
}

.home-selec-proj {
    padding-top: 24rem;

    @include mq($bp-medium) {
        padding-top: 40rem;
    }

}

.home-about {
    padding-top: 24rem;

    @include mq($bp-medium) {
        padding-top: 40rem;
    }

    &__title {
        padding-bottom:  clamp(2.4rem, 1.05vw + 1.99rem, 4rem);
    }

    &__btn {
        padding-top: clamp(2.8rem, 1.83vw + 2.09rem, 5.6rem);
    }
}

.home-contact {
    padding-top: 24rem;

    @include mq($bp-medium) {
        padding-top: 40rem;
    }
}

.footer-padding-top {
    padding-top: 8rem;
}

// Padding utilities
.padding-top--4 {
    padding-top: 4rem;
}