* {
    margin: 0;
    padding: 0;
}
// Check if it's worth to eliminate all paddings

body {
    padding-top: 7rem;
}

.vertical-padding {
    padding-left: $vertical-padding;
    padding-right: $vertical-padding;
}

.home-hero {
    padding-top: 7.2rem;

    &__links {
        padding-top: clamp(3.2rem, 1.96vw + 2.44rem, 6.2rem);

        &__item {
            padding-right: 3.2rem;
        }

    }
}
