* {
    margin: 0;
    padding: 0;
}
// Check if it's worth to eliminate all paddings

body {
    padding-top: 7rem;
}


.vertical-padding {
    padding-left: $vertical-padding;
    padding-right: $vertical-padding;
}
