*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    background-color: $color-bg-white;
    margin: 0;
    overflow-x: hidden;
}

// Fonts

// Jetbrains
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,700;1,400&display=swap');

// Roboto Condensed
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

