@import "./sass-variables";
@import "./mixins";

h1,
.h1 {
    //font-size: clamp(3rem, 4.18vw + 1.64rem, 8.33rem);
    font-size: clamp(3.2rem, 3.79vw + 1.72rem, 9rem);
    font-weight: $font-weight-light;
}

h2,
.h2 {
    font-size: clamp(6rem, 2.61vw + 4.98rem, 10rem);
    font-weight: $font-weight-light;
    

    &--variation {
        font-size: clamp(4.4rem, 2.35vw + 3.48rem, 8rem);
        margin-inline-start: -0.5rem;
    }
}

h3,
.h3 {
    font-size: clamp(1.6rem, 0.52vw + 1.4rem, 2.4rem);
    font-weight: $font-weight-light;
    text-transform: uppercase;
}


h4,
.h4 {
    font-size: clamp(6rem, 1.63vw + 5.36rem, 8.5rem);
    font-weight: $font-weight-light;
    text-transform: uppercase;
}

h5,
.h5 {
    color: $color-bg-green;
    font-size: clamp(1.6rem, 0.26vw + 1.5rem, 2rem);
    font-weight: $font-weight-light;
    font-style: italic;
}


.p--small {
    font-size: clamp(1.6rem, 0.52vw + 1.4rem, 2.4rem);
    font-weight: $font-weight-xlight;
}

.p--lowermedium {
    font-size: clamp(2rem, 0.26vw + 1.9rem, 2.4rem);
    margin-inline-start: -0.5rem;
    padding-bottom: 2rem;
}


.p--medium {
    font-size: clamp(2rem, 0.65vw + 1.75rem, 3rem);
    font-weight: $font-weight-xlight;
}

.p--xlarge {
    font-size: clamp(3.2rem, 1.44vw + 2.64rem, 5.4rem);
    font-weight: $font-weight-xlight;
}


.p--small-fixed {
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 8rem 0 2rem;
}

.p--portfolio {
    color: $color-white;
    font-size: clamp(3.2rem, 1.44vw + 2.64rem, 5.4rem);
    text-transform: uppercase;

    &:visited {
        color: $color-white;
    }
}