@import "./sass-variables";
@import "./mixins";


.display-flex {
    display: flex;
}
.justify-content--end {
    justify-content: end;
}


.vertical-trim-line-height {
    line-height: 86%;
}

.copyright-text {
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 8rem 0 2rem;
}


// Loop for text color, background color and svg color
@each $color, $i in $map-colors {
    .text-color-#{$color} {
        color: $i;
    }

    .bg-color-#{$color} {
        background-color: $i;
    }

    .svg-color-#{$color} {
        fill: $i;
    }
}