

.display-flex {
    display: flex;
}

.justify-content-end {
    justify-content: end;
}

.position-relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.vertical-trim-line-height {
    line-height: 86%;
}

.vertical-trim-line-height--soft {
    line-height: 110%;
}

.cursor-pointer {

    @include mq($bp-lowermedium) {
        cursor: pointer;
    }
}

.text-transform--uppercase {
    text-transform: uppercase;
}


// Loop for text color, background color and svg color
@each $color, $i in $map-colors {
    .text-color-#{$color} {
        color: $i;
    }

    .bg-color-#{$color} {
        background-color: $i;
    }

    .svg-color-#{$color} {
        fill: $i;
    }
}