@import "../../scss/sass-variables";
@import "../../scss/mixins";


svg {
    height: 1.5rem;
}

.btn {

    &--primary {
        font-size: 2rem;
        text-transform: uppercase;
        padding-left: 0.4rem;
    }
}