@import "../../scss/sass-variables";
@import "../../scss/mixins";


svg {
    height: clamp(1.4rem, 0.26vw + 1.3rem, 1.8rem);
}

.btn {

    &--primary {
        font-size: clamp(2rem, 0.26vw + 1.9rem, 2.4rem);
        text-transform: uppercase;
        padding-left: 0.4rem;
    }
}
