@import "../../../scss/sass-variables";
@import "../../../scss/mixins";



.img-gallery__item {

    &__inner {
        width: 100%;
        box-shadow: 0 0 .4rem $color-bg-gray;
        border-radius: .4rem;
    }

    & + & {
        padding-top: 8rem;
    }

    &__text {
        padding-top: 8rem;

        @include mq($bp-uppermedium) {
            width: 50%;
        }
    }
}