@import "../../scss/sass-variables";
@import "../../scss/mixins";


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: $color-white;
    background-color: $color-bg-black;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding-top: .8rem;
    padding-bottom: .8rem;

    &__item:last-child {
        justify-self: end;
    }

    @include mq($bp-lowermedium) {
        grid-template-columns: 1fr 1fr 4fr;
    }

    @include mq($bp-uppermedium) {
        grid-template-columns: 1fr 1fr 6fr;
    }
    
    @include mq($bp-large) {
        grid-template-columns: 1fr 1fr 8fr;
    }
}