@import "../../scss/sass-variables";
@import "../../scss/mixins";



.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    padding: 2.4rem $vertical-padding;
    font-family: $font-topbar;
    font-size: $font-size-topbar;
    text-transform: uppercase;
    font-weight: $font-weight-light;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &__btn {

        @include mq($bp-medium) {
            display: none;
        }
    }

    &__nav {
        width: 100vw;
        height: 0;
        overflow: hidden;
        transition: all .5s ease;

        display: flex;
        flex-direction: column;

        @include mq($bp-medium) {
            flex-direction: row;
            gap: 4rem;
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 0;
        }

        @include mq($bp-medium) {
            height: auto;
            width: auto;
        }

        &.isActive {
            height: 100vh;
            opacity: 1;
        }

        &__item {
            display: flex;
            justify-content: center;
            padding-top: 4rem;
            font-size: $font-size-topbar--large;

            @include mq($bp-medium) {
                flex-direction: row;
                padding-top: 0;
                font-size: $font-size-topbar;
            }
        }
    }

    // Changes when scrolling
    &.stage1 {
        background-color: $color-bg-white;
        color: $color-black;
        transition: background-color 0.5s;
    }

    &.stage2 {
        background-color: $color-bg-blue;
        color: $color-white;
        transition: background-color 0.5s;
    }

    &.stage3 {
        background-color: $color-bg-green;
        color: $color-white;
        transition: background-color 0.5s;
    }

    &.stage4 {
        background-color: $color-bg-black;
        color: $color-white;
        transition: background-color 0.5s;
    }
}


