@import "../../../scss/variables";
@import "../../../scss/mixins";

.project-hero {

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include mq($bp-lowermedium) {
            padding-top: clamp(2rem, 1.31vw + 1.49rem, 4rem);
        }
    }

    &__img {
        padding: clamp(1.2rem, 1.83vw + 0.49rem, 4rem) 0 clamp(4rem, 1.83vw + 3.29rem, 6.8rem);
        
        &__inner {
            width: 100%;
            box-shadow: 0 0 .4rem $color-bg-gray;
            border-radius: .4rem;
        }
    }
}
